/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__contaioner {
  max-width: 1200px;
  margin: auto;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 16px;
  width: 100%;
  height: auto;
}

.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  width: 200px;
  height: 40px;
  background: linear-gradient(to right, rgb(0, 110, 255), rgb(255, 0, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.navbar__logo img {
  max-width: 100%;
  max-height: 100%;
  margin-right: 5px;
}

.navbar__menu {
  display: flex;
  margin-right: 80px;
}

.navbar__menu__item {
  width: 80px;
  height: 35px;
  padding: 8px 12px;
  margin: 0 4px;
  text-align: center;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  background: linear-gradient(to right, rgb(0, 110, 255), rgb(255, 0, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 1s;
}

.navbar__menu__item.active {
  /* border: 1px solid var(--color-blue); */
}
.navbar__menu__item:hover {
  /* background: var(--color-yellow); */
  border: 1px solid var(--color-blue);
}

/* Home */
#home {
  background: url('imgs/home-background.png') center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  /* color: var(--color-dark-grey); */
  background: linear-gradient(to right, rgb(0, 110, 255), rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  background: linear-gradient(to right, rgb(0, 110, 255), rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* About */
.about__description {
  line-height: 40px;
}

.about__description h1 {
  background: linear-gradient(to right, rgb(0, 110, 255), rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__description p {
  font-size: 22px;
}
.about__learning {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: space-around;
  align-items: center;
  margin: 80px 0px;
}
.learn {
  margin-bottom: 5px;
}

.logo_container {
  width: 100%;
  height: 100px;
}
.logo_container img {
  width: 50%;
  height: 60%;
}

.learn_description {
  width: 350px;
  height: 130px;
  display: block;
}
.learn__name,
.learn__lesson,
.learn__period {
  color: var(--color-light-grey);
  font-size: var(--font-small);
}

/* Skill */

#skills {
  background-color: var(--color-yellow);
}
.skills__contaioner {
  background: linear-gradient(to right, rgb(0, 110, 255), rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skillset {
  display: flex;
  margin: 20px 0;
  color: var(--color-light-white);
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  padding: 20px 40px;
  background-color: var(--color-dark-grey);
}

.skill {
  margin-bottom: 30px;
}
.skill:last-child {
  margin-bottom: 0;
}

.skill_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.skill__img {
  width: 10%;
  height: 10%;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
  background-color: var(--color-grey);
  padding: 20px 40px;
}

.etc__title {
  color: var(--color-white);
}

.etc_description {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 35px 0;
}
.etc__img {
  width: 20%;
  height: 100%;
}
